apiVersion: v1
kind: Service
metadata:
  name: microservice-a
  labels:
    app: microservice-a
spec:
  selector:
    app: microservice-a
  ports:
    - name: http
      port: 80
      targetPort: 3000
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
