apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-b
  labels:
    app: microservice-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice-b
  template:
    metadata:
      labels:
        app: microservice-b
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/health"
        prometheus.io/port: "3001"
    spec:
      containers:
        - name: microservice-b
          image: "ghcr.io/cdesplanches-orka/microservice-b/ms-b:latest"
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          env:
            - name: SERVICE_A_URL
              value: "http://microservice-a:80"
            - name: SERVICE_A_GRPC
              value: "microservice-a:50051"
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 10
