apiVersion: v1
kind: Service
metadata:
  name: microservice-b
  labels:
    app: microservice-b
spec:
  selector:
    app: microservice-b
  ports:
    - port: 80
      targetPort: 3001
  type: ClusterIP
